.workspace {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  width: 100vw;
  height: calc(100vh - 56px);

  img {
    max-height: calc(100vh - 60px);
    max-width: 100vw;
    width: auto;
    height: auto;
  }

  svg {
    position: fixed;
    height: inherit;
    width: inherit;
    z-index: 99999;

    .svg-rect {
      opacity: 0.3;
    }

    .svg-line {
      stroke: #ffff00;
      stroke-width: 3;
      z-index: 999999;
      opacity: 1 !important;
    }
  }

  .cursor-select {
    cursor: default;
  }

  .cursor-pencil {
    cursor: crosshair;
  }
  
  .cursor-erase {
    cursor: url("../../../public/cursor-delete.png") 12 12, auto;
  }

  .cursor-ruler {
    cursor: url("../../../public/cursor-ruler.png") 0 0, auto;
  }
}
